/*
RED: rgb( 175, 30, 45 )
BLUE: rgb( 0, 38, 84 )
*/


body {
	font-family: 'Helvetica Neue', sans-serif;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;

	position: absolute;
	top: 0;
}

html {
	height: 100%;
}

.background {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 33%;

	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.background-wrapper {
	width: 100%;
	height: 100%;
}

.background.prev {
	z-index: -2;
}

.background.next {
	z-index: -1;
	display: none;
}

.content {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
}

a {
	color: inherit;
}

.left {
	float: left;
}

.right {
	float: right;
}

.vertical-center {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.error {
	color: rgb( 175, 30, 45 );
	float: left;
	height: auto;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
}



/*
* BANNERS (top and bottom)
*/

.banner {
	background-color: rgb(0, 38, 84);
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	display: table;
	height: 3.5em;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
}

.top {
	position: absolute;
	top: 0;
	height: 4em;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.banner .logo-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 0.2em;
}

.banner .logo-wrapper img {
	height: 2.5em;
}

.banner p {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
	font-size: 0.8em;
}

/*
* Title splash
*/

.title {
	margin: 0;
	padding: 0;
	margin-top: 10em;
	margin-bottom: 10em;
	color: white;
	font-family: 'Gotham', sans-serif;
	text-align: center;
	/* adds space below the title to prevent the page from drawing over the title with the login bar */
	padding-bottom: 8.5em;
}

h3 {
	margin: 0;
	padding: 0;

	font-size: 2em;
	font-family: 'Gotham Light', sans-serif;
}

h2 {
	margin: 0;
	padding: 0;

	font-size: 3em;
	font-family: 'Gotham Light', sans-serif;
}

h1 {
	margin: 0;
	padding: 0;

	font-size: 3em;
	font-family: 'Gotham Bold', sans-serif;
}

/*
* Login bar
*/

.login-bar {
	position: absolute;
	bottom: 3.5em;

	width: 100%;
	min-height: 6em;

	background-color: white;

	/* Semi-tramsparent div:
	background-color: rgba( 255, 255, 255, 0.8 );
	*/

	/* Full-div gradient:
	background-image: url(../images/gradient.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	*/
}

/* For the fringe at the top of the div: */
.fringe {
	background-image: url(../images/gradient.png);
	background-repeat: repeat-x;
	background-size: auto 100%;

	height: 8px;

	position: absolute;
	margin-top: -8px;
	width: 100%;
}

.login-controls {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
}

.login-controls form {
	height: 100%;
	display: table;
	width: 100%;
}

.login-controls form div {
	height: 6em;
}

.login-controls div span {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.dotted-ul {
	border-bottom: 1px dotted rgb( 0, 0, 0 );
	display: inline;
	vertical-align: auto;
}

input[type="submit"] {
	background-color: rgb( 0, 38, 84 );
	box-shadow: none;
	border: 1px solid rgb( 0, 38, 84 );
	border-radius: 2px;
	color: white;
	font-weight: bold;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
}

input[type="submit"]:disabled {
	background-color: rgb( 175, 175, 175 );
	color: rgb( 125, 125, 125 );
	border: 1px solid rgb( 175, 175, 175 );

}

input[type="password"], input[type="text"], input[type="tel"], input[type="submit"] {
	border: 1px solid rgb( 125, 125, 125 );
	border-radius: 2px;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: "Helvetica Neue";
}

/* makes the up/down arrows on the number input not appear: */
input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

/*
* Terms of Service
*/

.TOS-wrapper {
	width: 100%;
	height: 8em;

	display: none;
}

.TOS {
	width: 60%;

	height: 8em;

	overflow-y: scroll;

	margin: 2em;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;

	/* so it can be properly slid in with jQuery */
	display: none;
}

/*
* For mobile:
*/

@media (max-width: 768px) {
	.error {
		position: relative;
		margin-top: 10px;
	}

	.hide-mobile {
		display: none;
		visibility: hidden;
	}

	.show-mobile {
		display: inline;
		visibility: visible;
	}

	.title {
		margin-top: 6em;
	}
}

@media (min-width: 769px) {
	.error {
		position: absolute;
		top: 10px;
	}

	.hide-mobile {
		display: inline;
		visibility: visible;
	}

	.show-mobile {
		display: none;
		visibility: hidden;
	}

	/* Adds more padding to the background image on the bottom due to the now-taller login bar */
	.background {
		background-position: 50% 30%;
	}
}
